.dockerignore
Dockerfile
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*.log
.git
.dev.env
.idea/
.pytest_cache/
venv/